@import 'tailwindcss';
@import 'tailwindcss-primeui';

@layer base {
    h1 {
        @apply text-3xl font-bold my-4;
    }

    h2 {
        @apply text-2xl font-bold my-3;
    }

    h3 {
        @apply text-lg font-semibold mt-2 mb-1;
    }

    p {
        @apply my-2;
    }

    footer {
        word-spacing: 0.2rem;
    }

    footer i {
        font-size: 0.8rem;
    }

    .p-menubar-start img {
        @apply h-[3rem];
    }

    .m-trim *:first-child {
        @apply mt-0;
    }

    .m-trim *:last-child {
        @apply mb-0;
    }

    body:has(.impersonation-tag) {
        @apply m-[1rem];

        &::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            @apply border-[1rem] border-red-500;
        }
    }
}

:root {
    font-family: 'Inter', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

@layer theme {
    th.afra-col-action .p-datatable-column-header-content,
    td.afra-col-action .p-inputgroup {
        justify-content: flex-end;
    }

    td.afra-col-action {
        text-align: right;
    }

    .danger {
        color: var(--p-button-text-danger-color);
    }
}
